.quiz-image {
    background-color: black;
}

.quiz-title {
    font-weight: 700;
}

.quiz-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-image {
    width: 20px;
    height: 20px;
}